@media (max-width: 992px) {
  main {
    background-size: 100% 100% !important;
  }
}

main {
  background-color: #FFFF00;
  background-image: url("./fondoWebNuevo.png");
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

form {
  display: unset!important;
}

.card-body {
  box-shadow: -3px 23px 27px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px 23px 27px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 23px 27px 0px rgba(0,0,0,0.75);
}

.card-form {
  width: 70%;
  height: 75%;
}

.icon-list {
  padding-left: 0;
  list-style: none;
}
.icon-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: .25rem;
}
.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}

.abeja-img {
  position: absolute;
  bottom: -0;
  left: calc(50% - 60px);
}

.abeja img {
  width: 150px;
}

.contenedor {
  padding-top: 10rem;
}

@media (max-width: 480px) {
  .input-bees {
    margin-top: 2%!important;
  }

  .contenedor {
    padding-top: 50px;
  }

  main {
    align-items: center;
    background-image: url("./fonfoMoSinForm.png");
  }

  .row-form {
    margin-top: 3rem!important;
  }

  .card-form {
    width: 90%;
  }

  .abeja {
    justify-content: center!important;
    margin-top: 30px !important;
  }

  .abeja-img {
    position: absolute;
    bottom: -0;
    left: calc(50% - 60px);
    visibility: hidden;
  }

  .abeja img {
    width: 70px;
  }

  .form-input {
    margin-top: 10px;
  }
}

.abeja button {
  width: 150px;
  border-radius: 12px;
  background-color: black;
  color: #fefd00;
}

.input {
  outline: none;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #a4b1b9f1;
  width: 98%;
}

.form-input {
  margin-top: 40px;
}